@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* initially added this shorthand style and theme layer, later we'll add more accordingly */

@layer utilities {
  .flex-between {
    @apply flex justify-between;
  }

  .flex-around {
    @apply flex justify-around;
  }

  .flex-evenly {
    @apply flex justify-evenly;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .animated {
    @apply transition-all ease-in-out duration-300;
  }

  .absolute-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .absolute-horizontal-center {
    @apply absolute left-[50%] translate-x-[-50%];
  }

  .absolute-vertical-center {
    @apply absolute top-[50%] translate-y-[-50%];
  }

  .font-urbanist {
    font-family: "Urbanist", system-ui, sans-serif;
  }
}

/* local font familly  */

@font-face {
  font-family: lufgaLight;
  src: url('Fonts/lufga/LufgaLight.ttf');
}

@font-face {
  font-family: lufgaRegular;
  src: url('Fonts/lufga/LufgaRegular.ttf');
}

@font-face {
  font-family: lufgaSemibold;
  src: url('Fonts/lufga/LufgaSemiBold.ttf');
}

@font-face {
  font-family: lufgaBold;
  src: url('Fonts/lufga/LufgaBold.ttf');
}

@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.092);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .marque-card {
    transform: rotate3d(1, 1, 2, 357.2deg);
  }
}

/* Color Themes */

@layer theme {
  :root {
    --primary-text: #fd853a;
    --secondary-bg: #edf6f9;
    --secondary-text: #98a2b3;
    --primary-black: #171717;
    --secondary-black: #272727;
    --primary-blue: #1d2939;
  }
}

#movex{
  animation: moveAnimation 5s linear infinite;
}

@keyframes moveAnimation{
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-50%);
  }
}